<html>
	<head>
		<title>DGirls	blog</title>
	</head>
	<body>
		<div>
			<h1><a	href="">Snooga's Blog</a></h1>
		</div>

		<div>
			<p>published:	14.06.2014,	12:14</p>
			<h2><a	href="">My	first	post</a></h2>
			<p>Was that the sound of plastic opening?? I better check.....	
		</div>

		<div>
			<p>published:	14.06.2014,	12:14</p>
			<h2><a	href="">My	second	post</a></h2>
			<p>Snoogerish Paws to that!
		</div>

		<div>
			<p>published:	14.06.2014,	12:14</p>
			<h2><a	href="">My	third post</a></h2>
			<p>Watching the Paws Show.....</div>
		</div>
	</body>
</html>